nav.navbar {
  background-color: $black;
}

nav.navbar .navbar-brand, nav.navbar .collapse .navbar-nav .nav-item .nav-link {
  color: $white;
}

body {
  background-color: $black;
}

section {
  min-height: 100vh;
}

h2 {
  margin-top: 50px;
}

.section-1 {
  background-image: url("../assets/astronomic-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section-6 {
  background-image: url("../assets/astronomic-background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section-1 h1 {
  margin-top: 35vh;
}

.section-1 .row .info-box, .section-2 .row .info-box,
.section-3 .row .info-box, .section-6 .row .info-box {
  margin-top: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $white;
  background-color: rgba(0,0,0,0.65);
  font-size: 1.4rem;
  padding: 30px;
}

.info-box-container {
  min-height: 100%;
}

.section-1 .info-box {
  position: absolute;
  bottom: 0;
}

.btn.btn-lg.btn-cta, .underline-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}

.invisible {
  border-color: rgba(0,0,0,0);
  margin: 20px 0;
}

.btn.btn-lg.btn-cta {
  border-radius: 500px;
  background-color: $white;
  color: $black;
}

.btn.btn-lg.btn-cta:hover {
  color: gray;
}

.underline-link {
  padding: 15px;
  text-decoration: underline;
  margin-left: 40px;
}

.underline-link:hover {
  color: gray;
}

.section-2 {
  background: linear-gradient(#1a1a1a, #333333);
}

.section-2 h2 {
  margin-top: 50px;
  color: $white;
}

hr.white {
  border-color: $white;
  max-width: 60%;
  margin: 0 auto;
}

.section-6 hr.white {
  max-width: 40%;
}

hr.white.left {
  border-color: $white;
  max-width: 100%;
  margin: 0 auto;
}

.section-2 h3 {
  margin-top: 15px;
  color: $white;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.portfolio, .pricing {
  margin-top: 40px;
}

.portfolio .portfolio-item {
  padding: 0 30px;
}

audio {
  margin: 15px 0;
  max-width: 90%;
}

.section-3 {
  background: linear-gradient(to bottom, #333333, #4d4d4d, #333333);
}

.section-3 .container, .section-3 .container .row {
  height: inherit;
}

.price-card {
  margin-top: 100px;
  background-color: #323232;
  border: 1px solid white;
  min-height: 200px;
  padding: 0 45px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.price-card-center {
  margin-top: 20px;
  background-image: url("../assets/astronomic-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 1px solid $white;
  min-height: 300px;
}

.price-card-center .price-card {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: 0;
  opacity: 0.6;
  height: 100%;
  padding-bottom: 100px;
  margin-bottom: 0;
}

.price-card-center .price-card-front {
  width: 100%;
  opacity: 1;
  background: none;
  position: absolute;
  top: 0;
  left: 15;
}

.pricing h3, h4 {
  margin-top: 15px;
}

.pricing h3 {
  font-weight: 600;
}

.pricing ul {
  margin-top: 40px;
  color: $white;
}

.btn-margin {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.section-4 {
  background: linear-gradient(to bottom, #333333, #1a1a1a);
}

.section-4 .container .row .col-md-6 {
  margin-top: 100px;
}

.section-4 h2 {
  margin-top: 0;
}

.about-paragraph {
  font-size: 1.3rem;
  color: $white;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

footer {
  color: $white;
  padding: 15px;
}

footer .fa {
  font-size: 1.8rem;
  margin-left: 15px;
}

footer .fa:hover {
  color: gray;
}

footer a:hover {
  color: gray;
}

@media only screen and (max-width: 992px) {
  .btn.btn-lg.btn-cta, .underline-link {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 480px) {
  .section-1 .row .info-box,
  .section-2 .row .info-box,
  .section-3 .row .info-box,
  .section-6 .row .info-box {
    font-size: 0.9rem;
  }

  .btn.btn-lg.btn-cta, .underline-link {
    font-size: 0.8rem;
  }

  .underline-link {
    margin-left: 15px;
  }
}