{{> header title='Astronomic Audio'}}
{{> navbar}}

<section class="container-fluid section-1">
  <div class="row">
    <div class="col-12">
      <h1 class="title">
        <img src="assets/astronomic-audio-logotype.png" class="img-fluid" alt="Astronomic Audio, premium Canadian audio and podcast editing">
      </h1>
      <div class="row">
        <div class="col-md-8 offset-md-2 info-box">
          <p>
            Making big ideas sound even bigger.
          </p>
          <p>
            Specializing in broadcast quality audio editing and post-production, Astronomic Audio makes your podcast sound its best. 
          </p>
        <hr class="invisible">
          <div class="text-center">
            <button class="btn-cta btn btn-lg">View Packages</button>
            <a href="#pricing" class="underline-link">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid section-2">
  <div class="row">
    <div class="col-12 text-center">
      <div>
        <h2>DISCERNABLE QUALITY</h2>
        <hr class="white">
      </div>
    </div>
  </div>
</section>

</section>

{{> footer}}